In [1]:
import pandas as pd

In [75]:
data = pd.read_excel("ALEAF_Master_HydroES_V1_101223.xlsx", 
                   sheet_name="Hourly Time Series", 
                   usecols=["Energy-DA", "Regulation Up", "Regulation Down", "Spinning Reserve", "Non-spinning Reserve"],
                   skiprows=1)
data = pd.concat([data, data], ignore_index=True)
data

,Energy-DA,Regulation Up,Regulation Down,Spinning Reserve,Non-spinning Reserve
0,44.53602,NaN,NaN,NaN,NaN
1,26.04108,NaN,NaN,NaN,NaN
2,27.77831,NaN,NaN,NaN,NaN
3,29.24009,NaN,NaN,NaN,NaN
4,29.24009,NaN,NaN,NaN,NaN
...,...,...,...,...,...
17515,43.27797,NaN,NaN,NaN,NaN
17516,53.83453,NaN,NaN,NaN,NaN
17517,35.96614,NaN,NaN,NaN,NaN
17518,35.90468,NaN,NaN,NaN,NaN
17519,28.88538,NaN,NaN,NaN,NaN

In [78]:
dates = []

dates += [f"Jan {i}" for i in range(1, 32)]
dates += [f"Feb {i}" for i in range(1, 29)]
dates += [f"Mar {i}" for i in range(1, 32)]
dates += [f"Apr {i}" for i in range(1, 31)]
dates += [f"May {i}" for i in range(1, 32)]
dates += [f"Jun {i}" for i in range(1, 31)]
dates += [f"Jul {i}" for i in range(1, 32)]
dates += [f"Aug {i}" for i in range(1, 32)]
dates += [f"Sep {i}" for i in range(1, 31)]
dates += [f"Oct {i}" for i in range(1, 32)]
dates += [f"Nov {i}" for i in range(1, 31)]
dates += [f"Dec {i}" for i in range(1, 32)]

hours = [f"{str(i)}" for i in range(0, 168)]

Energy_DA = pd.DataFrame(index=hours, columns=dates)
Energy_DA

,Jan 1,Jan 2,Jan 3,Jan 4,Jan 5,Jan 6,Jan 7,Jan 8,Jan 9,Jan 10,...,Dec 22,Dec 23,Dec 24,Dec 25,Dec 26,Dec 27,Dec 28,Dec 29,Dec 30,Dec 31
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
164,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
165,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
166,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
167,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [79]:
Energy_DA["Jan 1"] = data["Energy-DA"].iloc[0:24*7].values

for i, date in enumerate(dates):
    vals = data["Energy-DA"].iloc[i*24:(i+1)*24 + 144].values
    Energy_DA[date] = vals
Energy_DA

,Jan 1,Jan 2,Jan 3,Jan 4,Jan 5,Jan 6,Jan 7,Jan 8,Jan 9,Jan 10,...,Dec 22,Dec 23,Dec 24,Dec 25,Dec 26,Dec 27,Dec 28,Dec 29,Dec 30,Dec 31
0,44.53602,29.33676,28.10625,34.66470,29.97479,25.29139,26.91578,27.74478,29.60635,29.65021,...,28.88538,29.06087,28.88538,29.00621,27.99110,27.23675,31.06671,32.17030,26.47492,27.23675
1,26.04108,29.33676,27.74478,32.08296,27.77831,24.84656,25.29139,25.98753,29.24011,28.10625,...,28.88538,29.06087,28.88538,26.55778,28.57112,27.23675,30.21725,29.44793,26.39007,27.12653
2,27.77831,32.08296,26.67829,32.08296,27.77831,23.57705,24.50897,25.94663,27.74478,27.30965,...,31.87976,29.06087,29.30352,26.47492,26.61221,28.88538,29.44793,28.98772,26.47492,26.65943
3,29.24009,33.07170,26.67829,30.34324,27.89421,24.50897,24.50897,26.04108,27.74478,27.18434,...,33.34742,29.06087,28.88538,26.47492,26.80300,29.96212,29.44793,28.88538,27.12656,26.65943
4,29.24009,32.31684,28.20095,31.98040,31.69094,25.29139,24.58134,27.74478,26.80300,27.68466,...,32.73809,29.06087,28.88538,28.88538,28.88538,30.21725,29.44793,28.88538,27.41433,26.80300
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163,48.62392,38.48273,52.92762,52.83809,43.74091,56.04768,60.28238,54.64791,52.33739,48.29930,...,55.58904,38.82779,50.35340,43.27797,48.23221,43.56593,50.26487,47.85065,48.70296,41.29577
164,35.49442,31.98040,43.80893,43.03948,34.55491,46.03986,48.19399,50.26483,52.83809,37.77634,...,44.90275,43.01533,48.79941,53.83453,34.86069,39.35796,47.16336,44.97137,32.08296,30.54239
165,32.28947,32.08296,33.23100,35.49442,28.55290,31.98040,32.60142,35.49442,38.34177,34.66470,...,36.52231,28.88538,45.03349,35.96614,31.44607,31.82507,35.65022,34.32373,28.33302,28.12461
166,31.50470,30.53621,29.24011,32.28947,28.55290,29.60249,31.06671,32.17030,32.17030,32.17030,...,32.20103,27.42221,33.86542,35.90468,29.49824,29.24011,40.67932,33.72025,26.75373,26.83474
167,29.65021,29.48859,29.24011,29.73104,27.26939,29.24011,27.74478,29.56065,29.63704,30.16532,...,32.17030,26.62873,32.16556,28.88538,29.33676,27.74478,35.65022,34.13483,26.43764,27.26939

168

168